# Cache
__pycache__
.pytest_cache

# IDE folder
.idea

# Virtual env
venv

# Scripts
scripts
*.bat
*.cmd

# Build output, distribution and sources
dist
build
src
*.spec

# Files that are generated after launching app
*.key
*.db
*.sqlite
