# Cache
__pycache__

# IDE folder
.idea

# Virtual env
venv

# Scripts
*.bat

# Build output, distribution and sources
dist
build
src
*.spec

# Files that are generated after launching app
*.key
*.db
settings.py
