# Cache
__pycache__

# IDE folder
.idea

# Virtual env
venv

# Files used to make a build
src

# Builds' folders
dist
build
*.spec

# Files that are generated specified per user
*.key
*.db
settings.py

# Scripts
*.bat
